/* body {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
} */

/* img {
    pointer-events: none;
} */

/* Typography */

a {
    text-decoration: none !important;
}

h2 {
    margin: 60px 0 15px 0 !important;
}

h3 {
    color: #000 !important;
}

h3,
h4,
h5,
h6 {
    margin: 0px 0px !important;
}

.logo-usage {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    padding: 30px 0 0 0;
    border-top: 1px solid #ccc;
}

/* –––––––––– */

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    margin: 0 0 15px;
}

.cover-container {
    background-color: #5DC0CF;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    margin: 0 0 30px !important;
    padding: 0 30px 30px 30px;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 30px 0;
}

.logo-usage-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 60px 0 30px;
}

.logo-container {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    margin: 0px !important;
    padding: 15%;
}

.cta-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0;
    padding: 0;
    margin: 30px 0 0;
}

.dwl-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0;
    padding: 0;
}

#logo-fiware-min-width {
    max-width: 75px;
    margin: 0.45em 0 !important;
}

#logo-fiware-full-min-width {
    width: 145px;
    max-width: 145px;
    margin: 0.45em 0 !important;
}

.col-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.col-3 {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.col-4 {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.col-2 p,
.col-3 p,
.col-4 p {
    font-size: 14px;
    line-height: 1.4em;
    padding: 0;
}

.grid {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.grid-item {
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.grid-item p {
    padding-bottom: 0;
    margin: auto 0;
}

.grid-item h4 {
    margin: auto 0 !important;
}

.negative {
    background-color: #000;
    border: 1px solid rgba(255, 255, 255, 0);
}

.logo-full {
    padding: 20px 12px;
}

.dont-01 {
    background-color: #9b6cc3;
    border: 1px solid rgba(255, 255, 255, 0);
}

.no-attributes {
    padding: 0;
    border: none;
}

.wrap {
    flex-wrap: nowrap;
}

.gutter-xs {
    margin-bottom: 10px !important;
    padding: 15% 10% !important;
}

.gutter-s {
    margin-bottom: 20px !important;
}

.rst-content img {
    margin-bottom: 0px;
}


/* Default Components */

input[type=submit].dwl {
    -webkit-appearance: none;
    border: none;
    background: none;
    font-family: 'Material Symbols Outlined';
    font-weight: 400;
    font-size: 24px;
    background-color: rgba(235, 235, 235, 1);
    border-radius: 20px;
    width: 36px;
    height: 36px;
    transition: all 0.3s ease-in-out;
}

input[type=submit].dwl:hover {
    background-color: rgba(0, 46, 103, 1);
    color: #fff;
}

form {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

select {
    width: 75px;
    height: 36px;
    padding: 10px;
    font-family: 'Montserrat';
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right rgba(255, 255, 255, 0);
    -webkit-appearance: none;
    background-position-x: 48px;
}


/* CTA */

.secondary-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    background: rgba(235, 235, 235, 0);
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 15px;
    line-height: 1.5em;
    color: #000;
    transition: all 0.3s ease-in-out;
}

.tertiary-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    line-height: 1.5em;
    color: #696969;
    transition: all 0.3s ease-in-out;
}

.secondary-btn:hover {
    background: rgba(235, 235, 235, 1);
}

.tertiary-btn:hover {
    color: #002e67;
}

.secondary-btn:any-link {
    color: #000 !important;
}

@media (max-width: 990px) {

    .wrap {
        flex-wrap: wrap;
    }

    .grid-item {
        width: 100%;
        gap: 5px;
        padding: 15px;
    }

    .col-4 {
        width: calc(50% - 15px);
    }

}

@media (max-width: 768px) {

    .col-2 .grid {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .grid .col-4 {
        flex-direction: row !important;
        flex-wrap: wrap;
    }

    .col-2,
    .col-3 {
        width: 100%;
    }

    .col-4 {
        width: calc(50% - 8px);
    }

    .grid-item {
        width: 100%;
    }

    .container {
        flex-direction: column;
    }

}

@media (max-width: 480px) {

    .grid {
        flex-direction: column;
    }

    .col-4 {
        width: 100%;
    }

    .cta-container {
        width: fit-content;
    }

    .secondary-btn:any-link {
        align-items: flex-start;
    }

}