:root {
    --primary-500: rgb(0, 46, 103);
    --primary-600: rgb(0, 36, 82);
    --primary-700: rgb(0, 27, 61);

    --secondary-500: rgb(93, 192, 207);
    --secondary-400: rgb(138, 210, 220);
    --secondary-300: rgb(199, 233, 238);
    --secondary-200: rgb(229, 245, 247);
    --secondary-100: rgb(244, 251, 252);

    --purple-500: rgb(155, 108, 195);
    --purple-400: rgb(175, 137, 207);
    --purple-300: rgb(195, 166, 219);
    --purple-200: rgb(215, 196, 231);
    --purple-100: rgb(235, 225, 243);

    --green-500: rgb(21, 169, 124);
    --green-400: rgb(67, 186, 150);
    --green-300: rgb(114, 203, 176);
    --green-200: rgb(161, 220, 202);
    --green-100: rgb(231, 246, 241);

    --gray-900: rgb(35, 35, 36);
    --gray-800: rgb(70, 71, 72);
    --gray-700: rgb(106, 106, 108);
    --gray-600: rgb(141, 142, 144);
    --gray-500: rgb(177, 178, 180);
    --gray-400: rgb(207, 208, 209);
    --gray-300: rgb(227, 227, 228);
    --gray-200: rgb(237, 237, 238);
    --gray-100: rgb(247, 247, 247);

    --success-500: rgb(60, 171, 59);
    --danger-500: rgb(238, 75, 43);
    --danger-700: rgb(166, 52, 30);
    --warning-500: rgb(243, 116, 13);
    --info-500: rgb(244, 213, 37);
    --stackoverflow: rgb(244, 130, 37);
}



/* body {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
} */

/* img {
    pointer-events: none;
} */

/* Read the Docs Settings */

.rst-content {
    min-height: calc(100vh - 220px);
}

div[role="main"] {
    min-height: calc(100vh - 220px);
}

div[role="navigation"] .wy-breadcrumbs {
    display: none;
}

div[role="navigation"] hr {
    display: none;
}

.wy-nav-content {
    padding: 2.9em 3.236em;
}

.wy-form {
    border: none !important;
}

.injected,
.rst-versions {
    display: none;
}


/* Color Palette */

.bg-primary-500 {
    background-color: var(--primary-500);
    border: 1px solid rgba(var(--gray-400, 0)) !important;
}

.bg-primary-600 {
    background-color: var(--primary-600);
    border: 1px solid rgba(var(--gray-400, 0)) !important;
}

.bg-primary-700 {
    background-color: var(--primary-700);
    border: 1px solid rgba(var(--gray-400, 0)) !important;
}

.bg-secondary-500 {
    background-color: var(--secondary-500);
    border: 1px solid rgba(var(--gray-400, 0)) !important;
}

.bg-secondary-400 {
    background-color: var(--secondary-400);
    border: 1px solid rgba(var(--gray-400, 0)) !important;
}

.bg-secondary-300 {
    background-color: var(--secondary-300);
    border: 1px solid rgba(var(--gray-400, 0)) !important;
}

.bg-secondary-200 {
    background-color: var(--secondary-200);
    border: 1px solid rgba(var(--gray-400, 0)) !important;
}

.bg-secondary-100 {
    background-color: var(--secondary-100);
    border: 1px solid rgba(var(--gray-400, 0)) !important;
}

.bg-purple-500 {
    background-color: var(--purple-500);
    border: 1px solid rgba(var(--gray-400, 0)) !important;
}

.bg-purple-400 {
    background-color: var(--purple-400);
    border: 1px solid rgba(var(--gray-400, 0)) !important;
}

.bg-purple-300 {
    background-color: var(--purple-300);
    border: 1px solid rgba(var(--gray-400, 0)) !important;
}

.bg-purple-200 {
    background-color: var(--purple-200);
    border: 1px solid rgba(var(--gray-400, 0)) !important;
}

.bg-purple-100 {
    background-color: var(--purple-100);
    border: 1px solid rgba(var(--gray-400, 0)) !important;
}

.bg-green-500 {
    background-color: var(--green-500);
    border: 1px solid rgba(var(--gray-400, 0)) !important;
}

.bg-green-400 {
    background-color: var(--green-400);
    border: 1px solid rgba(var(--gray-400, 0)) !important;
}

.bg-green-300 {
    background-color: var(--green-300);
    border: 1px solid rgba(var(--gray-400, 0)) !important;
}

.bg-green-200 {
    background-color: var(--green-200);
    border: 1px solid rgba(var(--gray-400, 0)) !important;
}

.bg-green-100 {
    background-color: var(--green-100);
    border: 1px solid rgba(var(--gray-400, 0)) !important;
}

.bg-gray-900 {
    background-color: var(--gray-900);
    border: 1px solid rgba(var(--gray-400, 0)) !important;
}

.bg-gray-800 {
    background-color: var(--gray-800);
    border: 1px solid rgba(var(--gray-400, 0)) !important;
}

.bg-gray-700 {
    background-color: var(--gray-700);
    border: 1px solid rgba(var(--gray-400, 0)) !important;
}

.bg-gray-600 {
    background-color: var(--gray-600);
    border: 1px solid rgba(var(--gray-400, 0)) !important;
}

.bg-gray-500 {
    background-color: var(--gray-500);
    border: 1px solid rgba(var(--gray-400, 0)) !important;
}

.bg-gray-400 {
    background-color: var(--gray-400);
    border: 1px solid rgba(var(--gray-400, 0)) !important;
}

.bg-gray-300 {
    background-color: var(--gray-300);
    border: 1px solid rgba(var(--gray-400, 0)) !important;
}

.bg-gray-200 {
    background-color: var(--gray-200);
    border: 1px solid rgba(var(--gray-400, 0)) !important;
}

.bg-gray-100 {
    background-color: var(--gray-100);
    border: 1px solid rgba(var(--gray-400, 0)) !important;
}



/* Typography */

a {
    text-decoration: none !important;
}

p {
    padding-bottom: 10px;
    text-wrap: balance;
}

p:last-child,
p:last-of-type {
    padding-bottom: 0px;
}

h1 {
    margin-top: 0 !important;
}

h2 {
    margin: 60px 0 15px 0 !important;
}

h2#smart-cities,
h2#smart-energy,
h2#smart-industry,
h2#smart-water {
    margin: 30px 0 15px 0 !important;
}

h3 {
    color: #000 !important;
}

h3,
h4,
h5,
h6 {
    margin: 0px 0px !important;
}

.logo-usage {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    padding: 30px 0 0 0;
    border-top: 1px solid #ccc;
}

.title-section {
    padding-bottom: 10px !important;
}

/* –––––––––– */


.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    margin: 0;
}

.cover-container {
    background-color: var(--secondary-500);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    margin: 0 0 30px !important;
    padding: 0 30px 30px 30px;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
}

.badges-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0 0;
}

.badge-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--gray-400);
}

.badge-container:last-of-type {
    padding-bottom: 0px;
    border-bottom: 1px solid rgba(var(--gray-400, 0));
}

.secondary-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px 0 0;
}

.logo-usage-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 25px 0 30px;
}

.section-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px 0 0;
}

.module-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title-container {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.logo-container {
    width: 100%;
    max-height: 355px;
    min-height: 132px;
    border: 1px solid var(--gray-400);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    margin: 0px !important;
    padding: 15%;
}

.badge {
    height: 28px !important;
    border: 1px solid rgba(var(--gray-400, 0));
    margin: 0px !important;
}

.main-container .logo-container {
    width: 100%;
    max-height: 420px;
    display: flex;
    flex-direction: column;
    padding: 0px 20px 20px;
}

.main-container .logo-container img {
    padding: 15%;
}

.main-container .logo-container.square {
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 85px 20px 20px !important;
}

.main-container .logo-container.square img {
    max-height: 180px!important;
    padding: 0;
}

.cta-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0;
    padding: 0;
    margin: 30px 0 0;
}

.dwl-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    padding: 0;
}

.dwl-container-m {
    display: none;
}

#logo-fiware-min-width {
    max-width: 75px;
    margin: 0.45em 0 !important;
}

#logo-fiware-full-min-width {
    width: 100%;
    max-width: 145px;
    margin: .28em 0 !important;
}

#logo-fiware-secondary-min-width {
    width: 45px;
    max-width: 45px;
    margin: 0.45em 0 !important;
}

#logo-fiware-foundation-min-width {
    width: 100px;
    max-width: 100px;
    margin: 0.33em 0 !important;
}

.col-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.col-3 {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.col-4 {
    width: 24%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.col-4 .logo-container {
    min-height: 100px;
}

.col-2 p,
.col-3 p,
.col-4 p,
.title-container p {
    font-size: 14px;
    line-height: 1.4em;
    padding: 0;
}

.grid {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.grid-items {
    display: flex;
    gap: 15px;
    position: relative;
    width: 100%;
    /* height: 100vh; */
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0 !important;
    transition: all 0.2s ease-in-out;
    /* transform: scale(0.98); */
    will-change: transform;
    user-select: none;
    cursor: default;
}

.grid-items::-webkit-scrollbar {
    display: none;
}

.col-3.scroll-x .dwl-container {
    padding: 0 0 30px !important;
}

.grid-item {
    width: 50%;
    border: 1px solid var(--gray-400);
    border-radius: 4px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.grid-item p {
    padding-bottom: 0;
    margin: auto 0;
}

.grid-item h4 {
    margin: auto 0 !important;
}

.item-content p {
    white-space: break-spaces;
}

.title-content {
    width: 100% !important;
}

.negative {
    background-color: #000;
    border: 1px solid rgba(var(--gray-400, 0)) !important;
}

.padding-s {
    padding: 10%
}

.square {
    padding: 12%!important;
    max-height: 132px;
}

.logo-full {
    padding: 15% 9%;
}

.no-attributes {
    padding: 0 !important;
    border: none;
    border-radius: 0;
    height: auto !important;
    min-height: auto !important;
}

.wrap {
    flex-wrap: nowrap;
}

.gutter-xs {
    margin-bottom: 10px !important;
    padding: 15% 10% !important;
}

.gutter-s {
    margin-bottom: 20px !important;
}

.foundation {
    min-height: 152px;
}

.rst-content img {
    margin-bottom: 0px;
}


/* Default Components */

.material-symbols-outlined {
    line-height: normal !important;
}

button.copy {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border: none;
    background: none;
    font-family: 'Material Symbols Outlined';
    color: #000;
    background-color: rgba(var(--gray-200, 0));
    border-radius: 20px;
    width: 36px;
    height: 36px;
    padding: 0;
    transition: all 0.3s ease-in-out;
}

button.copy:active,
button.copy:hover {
    background-color: var(--gray-200);
    color: #000;
}

button.copy:focus,
button.copy:focus-visible {
    background-color: rgba(255, 255, 255, 0) !important;
    color: #000;
    outline: none !important;
}

.ico-negative {
    color: #fff !important;
    background-color: rgba(255,255,255,0)!important;
}

.ico-negative:active,
.ico-negative:hover,
.ico-negative:focus {
    background-color: rgba(255,255,255,.2)!important;
}

.ico-negative:focus-visible {
    background-color: rgba(255,255,255,0)!important;
    color: #fff;
    outline: none !important;
}

.mark-github {
    background-color: rgba(var(--gray-200, 0)) !important;
    transition: all 0.3s ease-in-out;
    width: 26px !important;
    height: 26px !important;
}

.mark-github:active,
.mark-github:hover {
    background-color: none !important;
}

.mark-github:focus,
.mark-github:focus-visible {
    background-color: none !important;
    outline: none !important;
}

input[type=submit].dwl {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border: none;
    border-left: 1px solid var(--gray-400);
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    background: none;
    font-family: 'Material Symbols Outlined';
    color: #000 !important;
    background-color: rgba(var(--gray-200, 0));
    width: 36px;
    height: 36px;
    padding: 0;
    transition: all 0.3s ease-in-out;
}

input[type=submit].dwl:hover {
    background-color: var(--gray-200);
    color: #000 !important;
}

form {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    border: 1px solid var(--gray-400);
    border-radius: 4px;
}

select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    width: 72px;
    height: 36px;
    padding: 10px;
    font-family: 'Montserrat';
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
    color: #000 !important;
    border: 1px solid rgba(var(--gray-400, 0)) !important;
    border-radius: 0px !important;
    box-shadow: none;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right rgba(255, 255, 255, 0);
    background-position-x: 48px;
}


/* CTA */

.primary-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content !important;
    background: var(--primary-500) !important;
    /* padding: 10px 15px; */
    border-radius: 4px;
    font-size: 15px;
    line-height: 1.5em;
    font-weight: 400 !important;
    color: #fff !important;
    transition: all 0.3s ease-in-out;
}

.tertiary-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    line-height: 1.5em;
    color: var(--gray-500);
    transition: all 0.3s ease-in-out;
}

.primary-btn:hover {
    background: var(--primary-600) !important;
}

.tertiary-btn:hover {
    color: var(--primary-500);
}

.primary-btn a:any-link {
    color: #fff !important;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.5em;
    font-weight: 400 !important;
}

/* Tooltip */

.tooltip.bottom {
    padding: 5px 0;
    margin-top: 3px;
}

.tooltip.in {
    opacity: .9;
    filter: alpha(opacity=90);
}

.fade.in {
    opacity: 1;
}

.tooltip {
    position: absolute;
    z-index: 1030;
    display: block;
    font-size: 12px;
    line-height: 1.4;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: visible;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-bottom-color: var(--primary-500) !important;
    border-width: 0 5px 5px;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: var(--primary-500) !important;
    border-radius: 4px;
}



@media (max-width: 990px) {

    .wrap {
        flex-wrap: wrap;
    }

    .grid-item {
        width: 100%;
        gap: 5px;
        padding: 15px;
    }

    .col-4 {
        width: calc(50% - 15px);
    }

}

@media (max-width: 768px) {

    /* Read the Docs Settings */


    .wy-nav-top {
        z-index: 1;
        background-color: #002e67;
        padding: 0px 1em;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .wy-nav-top::before {
        display: none;
    }


    .col-2 .grid {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .grid .col-4 {
        flex-direction: row !important;
        flex-wrap: wrap;
    }

    .col-3,
    .col-2 {
        width: 100%;
    }

    .col-4 {
        width: calc(50% - 8px);
    }

    .grid-items {
        display: block;
        /* padding-bottom: 25px!important; */
    }

    /* .col-3.scroll-x .dwl-container-m {
        padding: 0 0 30px !important;
    } */

    .grid-item {
        width: 100%;
    }


    .item-content {
        width: 100% !important;
        padding-top: 10px;
    }

    .title-content {
        width: 100% !important;
    }

    .container {
        flex-direction: column;
    }

    .grid .col-3.scroll-x .dwl-container {
        display: none!important;
    }

    .dwl-container-m {
        display: block;
    }

    .grid .col-3.scroll-x,
    .grid .col-4.scroll-x {
        overflow: hidden;
        display: inline-block;
        width: 75%;
        margin-right: 10px;
        /* flex-direction: row !important;
        flex-wrap: wrap; */
    }

    .grid .col-3.scroll-x {
        padding-bottom: 15px;
    }

    .grid .col-3.scroll-x:last-child,
    .grid .col-4.scroll-x:last-child {
        margin-right: 0px;
    }

    .grid .col-3.scroll-x .logo-container {
        margin: 15px 0 0!important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px 10px 10px;
    }

    .grid .col-3.scroll-x .logo-container img {
        padding: 18% 15% 2%;
    }

    .grid .col-3.scroll-x .logo-container.square img {
        padding: 0%;
        height: 85px;
    }

    button.copy {
        float: right;
    }

}

@media (max-width: 480px) {

    .grid {
        flex-direction: column;
    }

    .col-3,
    .col-4 {
        width: 100%;
    }

    .logo-container {
        padding: 14%;
        max-height: 180px;
    }

    .col-3 .logo-container,
    .col-4 .logo-container {
        /* min-height: 120px; */
        max-height: 180px;
    }

    .main-container .logo-container {
        padding: 10px;
        max-height: 186px;
        min-height: 186px;
    }

    .main-container .logo-container img {
        padding: 16% 12% 5%;
    }

    .main-container .logo-container.square {
        padding: 35px 10px 10px !important;
        max-height: 194px;
        min-height: 194px;
    }

    .main-container .logo-container.square img {
        /* padding: 10% 10% 0%; */
        max-height: 111px!important;
    }

    .logo-container.no-attributes {
        max-height: fit-content!important;
    }

    .logo-container.square {
        padding: 35px 10px 10px !important;
    }

    .logo-container.square.dont {
        padding: 30px !important;
    }

    .square {
        padding: 10% !important;
    }

    .logo-full {
        padding: 15%;
    }

    .badge {
        height: 24px !important;
    }


    /* Default Components */

    form {
        gap: 10px;
    }

    .dwl-container-m form {
        display: none;
    }

    .dwl-container form {
        display: none;
    }

    form.badge-dwl {
        display: none;
    }


    /* CTA */

    .cta-container {
        width: fit-content;
    }


    #logo-fiware-full-min-width {
        width: 128px;
    }

    .secondary-btn:any-link {
        align-items: flex-start;
    }

}